//- A página está sendo iniciada com latestNews, games, players

extends base.pug

block headExtra
    title Página Inicial

block content 
    section#latestNews
      h2 Novidades
      ul
        each news in latestNews
          li 
            h3= news.title
            p= news.content
    section#pontuacoes
        h2 Melhores Colocações
        table
            thead
                tr
                    th Nome
                    th Pontuação Total
            tbody
                each player in players
                    tr
                        td 
                            a(href=`/player/${player.userId}`).player-link= player.name
                        td #{player.totalScore}
    section#links-uteis
      h2 Links Úteis
      ul
        li 
          a(href='/games') Jogos
        li
          a(href='/players') Jogadores
        li
            a Fórum
        //-   a(href='/forum') Fórum
            
