extends base.pug

block headExtra 
    title Login

block content
    section#login
        h2 Login no Fliperama ID: #{arcadeId}
        form(action="/login", method="POST")
            label(for="username") Usuário
            input(type="text", name="username", id="username")
            label(for="password") Senha
            input(type="password", name="password", id="password")
            button(type="submit") Entrar
    section#cadastro
        h2 Cadastro
        form(action="/cadastro", method="POST")
            label(for="username") Usuário
            input(type="text", name="username", id="username")
            label(for="password") Senha
            input(type="password", name="password", id="password")
            button(type="submit") Cadastrar
    section#links-uteis
        h2 Links Úteis
        ul
            li 
                a(href='/perfil') Perfil
            li 
                a(href='/ranking') Ranking
            li 
                a(href='/') Início
    //- section#erros
    //-     if error
    //-         p= error