doctype html
html
  head
    title PatroArcade - Sua plataforma de fliperama
    link(rel='stylesheet', href='/public/styles.css')
  body
    .mainTitle
        img(src='/public/assets/patroArcadeLogo.png')
        h1 PatroArcade: Sua plataforma de fliperama
    section#loginForm
      h2 Login
      h1 Arcade de ID: #{arcadeId}
