body {
    background-color: darkslateblue;
    font-family: "Lato";
    src: url('/static/fonts/Lato-Regular.ttf') format('truetype');
}

.mainTitle {
    color: white;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}